<div class="py-4 mt-5 txt-light-1 bg-dark-4" style="border-bottom: 1px solid var(--light-1);">
    <div class="container">
        <span>Siga-nos</span>
        <span class="bi-youtube"></span>
        <hr>
        <div style="display: flex; justify-content: space-between;" class="py-4">
            <div style="display: flex; justify-content: start; gap: 15px; align-items: center;">
                <a href="">
                    <h4>Driver Labs</h4>
                </a>
                <a href=""><small>Termos & Privacidade</small></a>
                <a href=""><small>Cursos</small></a>
                <a href=""><small>Suporte</small></a>
            </div>
            <div>2025 &copy; Allrights reserved.</div>
        </div>
    </div>
</div>