<h1>Depoimentos</h1>
<hr>

<section id="testimonies">
    <div class="card bg-dark-2 txt-light-1 mb-3 br bc-dark-4">
        <h5 class="card-header bc-dark-4">Edson Munguambe <small class="f-s-1">07-10-2022</small></h5>
        <div class="card-body fw-3 f-s-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis asperiores distinctio praesentium expedita optio quisquam. Magnam optio perspiciatis, aliquid omnis harum repudiandae itaque ut magni saepe quis eveniet voluptatem voluptate sapiente provident, sunt eaque officia odio. Ipsa cupiditate repellat, commodi quidem assumenda ab enim quaerat, reprehenderit debitis, nihil qui non.</div>
    </div>

    <div class="card bg-dark-2 txt-light-1 mb-3 br bc-dark-4">
        <h5 class="card-header bc-dark-4">Edson Munguambe <small class="f-s-1">07-10-2022</small></h5>
        <div class="card-body fw-3 f-s-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis asperiores distinctio praesentium expedita optio quisquam. Magnam optio perspiciatis, aliquid omnis harum repudiandae itaque ut magni saepe quis eveniet voluptatem voluptate sapiente provident, sunt eaque officia odio. Ipsa cupiditate repellat, commodi quidem assumenda ab enim quaerat, reprehenderit debitis, nihil qui non.</div>
    </div>
    
    <div class="card bg-dark-2 txt-light-1 mb-3 br bc-dark-4">
        <h5 class="card-header bc-dark-4">Edson Munguambe <small class="f-s-1">07-10-2022</small></h5>
        <div class="card-body fw-3 f-s-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis asperiores distinctio praesentium expedita optio quisquam. Magnam optio perspiciatis, aliquid omnis harum repudiandae itaque ut magni saepe quis eveniet voluptatem voluptate sapiente provident, sunt eaque officia odio. Ipsa cupiditate repellat, commodi quidem assumenda ab enim quaerat, reprehenderit debitis, nihil qui non.</div>
    </div>
</section>

<hr>

<section id="form">

    <h3>Envie seu depoimento</h3>

    <form method="post">

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" required>
        </div>

        <div class="form-group">
            <label for="nome">Mensagem</label>
            <textarea class="form-control" rows="5" name="mensagem" required></textarea>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>

    </form>

</section>