<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://localhost/projecto-mvc/resources/view/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost/projecto-mvc/resources/view/dist/css/style.css">
    <title>{{title}}</title>
</head>

<body class="bg-dark-1 text-light">

    <div class="container">
        {{content}}
        <hr>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="http://localhost/projecto-mvc/resources/view/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>